projektpiłkarz.com {
    @noauth path /api*   # Match all /api and subpaths

    # Basic Auth for everything except /api*
    basicauth not @noauth pilkarz hashedpassword

    reverse_proxy projektpilkarz:3000
}