projektpiłkarz.pl, www.projektpiłkarz.pl {
    @noauth path /api*

    handle_path /videos/* {
      root * /srv/videos
      file_server
    }

    handle @noauth {
        reverse_proxy projektpilkarz:3000
    }

    handle {
        basic_auth {
            pilkarz $2a$14$wIFwRUaDk2q.DodwhxHrKO6VTe/8NGFtBqSGfMtS3mHTHcIHfsOQO
        }
        reverse_proxy projektpilkarz:3000
    }
}